<!DOCTYPE html>
<html>
<head>
  <title>Hello Template</title>
</head>
<body>
  
    <%   for(let i=0; i<10; i++) {   %>
    
    <p> paragraph </p>

    <%   }                           %>

</body>
</html>